{%extends "pages/base.html"%}

{% load static %}

{% load money %}  
{% block 'head' %}
 <link rel="stylesheet" href="{% static 'css/products.css' %}">
{% endblock %}

{% block 'dashboard' %}

 <div class="flex">
    <div class="container">
      
        {% for product in products %}
    
            <div class="product">   

                {% if product.image %}       
                  <div class="image">
                    <img class="product_image" src="{{ product.image.url }}" alt="foto produto {{ product.image.url }}">
                  </div>     
                {% endif%}

                  <div class="title">
                    <h1>{{product.title}}</h1>
                  </div>

                  <div class="price">
                      <p> Preço : <span>{{product.price|currency}}</span></p>  
                      <a href="#">Adicionar ao Carrinho</a>    
                  </div>             
                        
            </div>           
                        
      
            

        {% endfor %}
    </div>
  
  </div>
{% endblock %}
