{%extends "base.html"%}

{% load static %}

{% load money %}  
{% block 'head' %}
 <link rel="stylesheet" href="{% static 'css/products.css' %}">
{% endblock %}

{% block 'dashboard' %}
   <div class="flex">
    
     {% for product in products %}
 
       <div class="bloco">          
           <div class="item">
                <div class="price">
                  
                    <h1>{{product.title}}</h1>
                    <p>{{product.price|currency}}</p>
 
                </div>
                 
          </div>
        </div>

    {% endfor %}

  </div>
{% endblock %}
